<h1>Login</h1>
<form class="form-horizontal form-without-legend" role="form" method="post" action="{{ path("fos_user_security_check") }}">
    {% if error is defined %}
    <div class="form-group">
        <div class="col-lg-8 col-md-offset-4">
            <div class="alert alert-danger">{{ error|trans }}</div>
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="email" name="_username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
        <div class="col-lg-8">
            <input type="password" class="form-control" id="password" name="_password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-8 col-md-offset-4">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Remember me</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-offset-4 padding-left-0">
            <a href="page-forgotton-password.html">Forget Password?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>

    {% if csrf_token is defined and csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
</form>
